.introduction
{
  font: 15px;
  color: tomato;
  font-family: monospace;
}
.sidebar{
  width: 30%;
  float:right;
  background-color: yellow;
}
.blu{
  font-size: 15px;
    font-family: serif;
    color: blue;

}.at-vero{
  font-size: 18px;
  background-color:blue;
  margin-right: 400px;
}
img{
  float: left;
  background-blend-mode: hue;
}
.column{
  width: 350px;
  float: left;

}
